            <a href="#">
              <figure class='speakerBio'>
                <img>
                <figcaption>Yuan Wang</figcaption>
              </figure>
            </a>
            <p>
              Speaker#2 Details
            </p>