    <div class="panel panel--event">
      <section>
        <h2>Next event</h2>
        <p>
          <span>Date</span>
          <time datetime="2013-09-10T18:00Z">
          Tuesday, 10 September 2013 at 18:00
          </time>
          <a href="#">iCal Link</a>
        </p>
        <p>
          <span>Venue</span>
          <div>Map</div>
        </p>
      </section>
    </div> <!-- eo .panel--event -->