    <div class="container mainHeader">
      <header>
        <h1>
          <%= link_to image_tag( 'common/logo-be-responsive.png', :alt => 'Be Responsive Melbourne Meetup', :title => 'Be Responsive Melbourne Meetup' ), '/' %>
        </h1>
        <p>Description</p>
        <p>Call to join our next event</p>
        <nav>

        </nav>
      </header>
    </div>