    <header class="mainHeader">
      <h1>
        <%= link_to image_tag( 'common/logo-be-responsive.png', :alt => 'Be Responsive' ), '/' %>
      </h1>
      <nav>

      </nav>
    </header> <!-- eo .mainHeader -->