    <div class="panel panel--hero">
      <p>
        Be Responsive is a community for people of all sectors and backgrounds who are interested in responsive digital solutions, from business analyst to designer, developer to project manager.

        Our meetups are inclusive and feature talks, presentations and sharing of experience in a wide range of topics covering the creative, technical and management aspects of delivering responsiveness.

        We are passionate about web and interactive solutions that are available to everyone and accessible with all devices including desktop, tablets and mobile.

        We are big advocates of the future of the web.

        We are also just a bunch of friendly people interested in a good chat and a few drinks. So come join us at the next Meetup!
      </p>
      <p>Call to join our next event</p>
    </div> <!-- eo .panel--hero -->