// The basics
html
  font-family: $sans-font-stack
  height: 100%
  overflow-x: hidden

body
  height: 100%

p 
  font-family: $sans-font-stack
  font-weight: 300
  font-size: 16px
  padding: 0
  margin: 8px 0px 20px
  line-height: 24px
  &.lead
    font-size: 22px
    margin: 0
    padding: 5px 0px
    line-height: 30px


a
  color: #000

  &:hover, &:focus
    color: #333


// Headings
%heading
  font-family: $sans-font-stack
  

h1, .h1
  @extend %heading

h2, .h2
  @extend %heading

h3, .h3
  @extend %heading
  
h4 
  @extend %heading