

/* Grid Layout */


.section:before, 
.section:after{ content:"";  display:table}

.section:after{ clear:both}

.section{ zoom:1}

.section{ position:relative}

.row{ margin-bottom:1em}

.container{ max-width:940px;  margin:0 auto;  padding-left:10px;  padding-right:10px;  position:relative}

.container-full{ max-width:960px;  margin:0 auto;  position:relative}

.col{ margin-left:2%;  *margin-left:1.7%;  float:left;  min-height:1px}

.ghost-col{ margin:-1px 0px 0px 0px !important}

.col:first-child{ margin-left:0}

.one{ width:6.5%}

.two{ width:15%}

.three{ width:23.5%}

.four{ width:32%}

.five{ width:40.5%}

.six{ width:49.0%}

.seven{ width:57.5%}

.eight{ width:66%}

.nine{ width:74.5%}

.ten{ width:83%}

.eleven{ width:91.5%}

.twelve{ width:100%}

.quarter{ width:23.5%}

.half{ width:49.0%}

.one-third{ width:32%}

.nodesktop{ display:none}

.showdesktop{ display:block}

.ie8 .showdesktop-inline{ display:inline}

.showdesktop-inline{ display:inline-block}

.fluid-padding{ width:100%;  height:40px;  display:block}

@media only screen and (min-width:642px) and (max-width:939px){  

/* Tablet */

.container-full{ padding:0px 40px}

 
 .tablet-one{ width:6.5%}

 
 .tablet-two{ width:15%}

 
 .tablet-three{ width:23.5%}

 
 .tablet-four{ width:32%}

 
 .tablet-five{ width:40.5%}

 
 .tablet-six{ width:49.0%}

 
 .tablet-seven{ width:57.5%}

 
 .tablet-eight{ width:66%}

 
 .tablet-nine{ width:74.5%}

 
 .tablet-ten{ width:83%}

 
 .tablet-eleven{ width:91.5%}

 
 .tablet-twelve{ width:100%}

 
 .tablet-full{ clear:both;  float:none;  width:100%;  margin-left:0;  margin-right:0;  margin-top:1em}

 
 .tablet-full:first-child{ margin-top:0}

 
 .notablet{ display:none}

 
 .showtablet{ display:block}

 
 .fluid-padding{ width:100%;  height:20px;  display:block}
}

@media only screen and (max-width:641px){   

/* Mobile Layout */

.container-full{ padding:0px 20px}

 
 .mobile-one{ width:6.5%}

 
 .mobile-two{ width:15%}

 
 .mobile-three{ width:23.5%}

 
 .mobile-four{ width:32%}

 
 .mobile-five{ width:40.5%}

 
 .mobile-six{ width:49.0%}

 
 .mobile-seven{ width:57.5%}

 
 .mobile-eight{ width:66%}

 
 .mobile-nine{ width:74.5%}

 
 .mobile-ten{ width:83%}

 
 .mobile-eleven{ width:91.5%}

 
 .mobile-twelve{ width:100%}

 
 .mobile-full{ clear:both;  float:none;  width:100%;  margin:1em 0 0 0}

 
 .mobile-full:first-child{ margin-top:0}

 
 .container{ padding-left:20px;  padding-right:20px}

 
 
 .thumbnail-section .col.two.mobile-three{ width:25%}

 
 
 table th, 
 table td{ padding:4px}

 
 
 input[type=text], 
 input[type=password], 
 input[type=email], 
 input[type=search], 
 input[type=tel], 
 textarea{ width:90%;  padding:5%}

 
 select{ width:100%}

 
 .nomobile{ display:none}

 
 .showmobile{ display:block}

 
 .fluid-padding{ width:100%;  height:10px;  display:block}
}