%section.event-info
  .container
    .row
      .span2.offset1
        .event-info__box
          %h4.event-info__box-title--main Next Event

      .span2
        .event-info__box.icon-calendar
          %h4.event-info__box-title Date
          %p.event-info__box-description
            8th July 2013

      .span2
        .event-info__box.icon-clock
          %h4.event-info__box-title Time
          %p.event-info__box-description 6.00pm

      .span5
        .event-info__box.icon-location
          %h4.event-info__box-title Venue
          %p.event-info__box-description
            York Butter Factory