%footer.main
  .container
    .row
      .span6
        = link_to "Be Respsonsive", root_app_path, :class => "logo-berespsonsive--white"
      .contact-link.span6
        = link_to "@beresponsive", "https://twitter.com/beresponsiveio", :class => "contact-link--twitter"
        = mail_to "contact@beresponsive.io", "contact@beresponsive.io", :class => "contact-link--email"