%header.main
  .container
    .row
      .span12
        %h1.logo-beresponsive Be Respsonsive

    #intro.row
      .span12
        %p.lead
          Be Responsive Melbourne is a community for people of all sectors and
          %br
          backgrounds who are interested in responsive digital solutions.
        %p Our meetups are inclusive and not focused only on the technical side.