%header.main
  .container
    .row
      .span12
        %h1.logo-beresponsive Be Respsonsive

    #intro.row
      .span12
        %p.lead
          Responsive Web Melbourne is for people of all sectors and backgrounds
          %br
          from business analyst to designer, developer to project manager.
        %p Our meetups are inclusive and not focused only on the technical side.