%section
  .container
    %h2.section-title Presentations

    .row.presentation
      .span2.hidden-phone

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/cp-lim.jpg", :alt => "CP Lim", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic Down the Rabbit Hole: Come join us on the other side!
        %h5.presentation__presenter CP Lim (Developer, Sensis)
        %p
          With the advent of mobile, the industry has shifted/is shifting towards building websites responsively. We know what responsive is, but how do we, as a team, go about build one? How do we know if our ideas or designs will work? Or doesn't work? These were the challenges posed to a team responsible for rebuilding an existing mobile and desktop site. We hope to share with you some of the lessons learnt along the way.


    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/tim-evans.jpg", :alt => "Tim Evans", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic TBC
        %h5.presentation__presenter Tim Evans (UX Designer, Visual Jazz)
        %p