%section#overview.overview
  .container-full
    / Section Title
    .section.row.nomargin
      .desktop-full.tablet-full.mobile-full
        %h1.section-title Presentations.
        .section.row.nomargin
          .col.eight.tablet-full.mobile-full.highlighted
            / Text for Desktop
            %p.underline.showdesktop-inline.notablet.nomobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            %p.underline.showdesktop-inline.notablet.nomobile aliquam vehicula est, sed fermentum nulla interdum vel. Integer
            %p.underline.showdesktop-inline.notablet.nomobile ullamcorper cursus tellus.
            / Text for Tablet &amp; Mobile
            %p.underline.nodesktop.showtablet.showmobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam vehicula est, sed fermentum nulla interdum vel. Integer ullamcorper cursus tellus.
          .col.four.tablet-full.mobile-full
            %p Suspendisse potenti. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus lectus, at feugiat mauris turpis sit amet mi. Nam condimentum.
        .fluid-padding
        .section.row.nomargin
          .col.four.tablet-full.mobile-full
            %p.quote Nunc est nibh, sodales vel convallis eu, consectetur non magna. Nullam a neque elit. In tempor ultricies justo scelerisque mollis. Nullam a neque elit. Nullam a neque elit. In tempor.
          .col.one.tablet-full.mobile-full
          .col.seven.tablet-full.mobile-full
            %p Suspendisse potenti. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus lectus, at feugiat mauris turpis sit amet mi. Nam condimentum, neque condimentum eleifend pharetra, ante est congue ligula. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus lectus, at feugiat mauris turpis sit amet mi. Suspendisse potenti. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus.