%section
  .container
    %h2.section-title Presentations

    .row.presentation
      .span2.hidden-phone

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/yuan-wang.jpg", :alt => "Yuan Wang", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic TBA
        %h5.presentation__presenter Yuan Wang (Digital Design Director at Traffic)
        %p

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/andrew-fisher.jpg", :alt => "Andrew Fisher", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic Designing a Moving Experience 
        %h5.presentation__presenter Andrew Fisher (CTO, JBA Digital)
        %p