%section
  .container
    %h2.section-title Presentations

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/jordan-lewis.jpg", :alt => "Jordan Lewis", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic Multi-device and browser testing for Responsive Web Design
        %h5.presentation__presenter Jordan Lewis (Frontend Developer at Envato)
        %p Jordan will provide us some solutions for efficiently testing responsive website across multiple devices and browsers.

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/catherine-hills.jpg", :alt => "Catherine Hills", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic Gesture &amp; Click: a holistic view of UX approaches for multi-device strategy
        %h5.presentation__presenter Catherine Hills (Senior UX designer and digital creative at Envato)
        %p The new multi-device frontier seems like unknown territory, but we have parameters that available to help guide us through what is new, in order to create a great cross-device experience for users.