%section
  .container
    %h2.section-title Presentations

    .row
      .span2.visible-desktop
        = image_tag "avatars/zendy-wongso.jpg", :alt => "Zendy Wongso"
      .span9
        %h4 The Current State of the Web
        %h5 Presented by Zendy Wongso
        %p Zendy is a Frontend Developer at Interact Creative and will provide us with some thoughts on current practices and methodologies that we use on the web, and what we need to learn and understand for the future.

    .row
      .span2.visible-desktop
        = image_tag "avatars/dave-sharpe.jpg", :alt => "Dave Sharpe"
      .span9
        %h4 The 'short' History of Responsive
        %h5 Presented by Dave Sharpe
        %p We have a timeline presentation by Dave from Visual Jazz - the Front End Lead at one of the foremost FED Agencies in Australia. His slides are great and give a really nice view of how far the Responsive Web has come since 2011... just a few short years, but loads has happened. If you want to get some inspiration for your own designs, get insight into how their projects were managed, how much they cost, and what technology they used - this one isn't to be missed!

    .row
      .span2.visible-desktop
        = image_tag "avatars/yuan-wang.jpg", :alt => "Yuan Wang"
      .span9
        %h4 Brave New World of Responsive Designing
        %h5 Presented by Yuan Wang
        %p Yuan is Digital Design Director at Traffic (also our host and sponsor) and will give us a unique insight into how to approach the creative design component of a responsive project.