%section
  .container
    %h2.section-title Presentations

    .row.presentation
      .span2.hidden-phone

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/jordan-lewis.jpg", :alt => "Jordan Lewis", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic Multi-device and browser testing for Responsive Web Design
        %h5.presentation__presenter Jordan Lewis (Frontend Developer at Envato)
        %p Jordan will provide us some solutions for efficiently testing responsive website across multiple devices and browsers.

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/adem-cifcioglu.jpg", :alt => "Adem Cifcioglu", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic Accessibility and the small screen
        %h5.presentation__presenter Adem Cifcioglu (Developer at Recreate Web)
        %p Adem will give us 5 tips for creating more useable, accessible smaller screen websites.