%section
  .container
    %h2.section-title Presentations

    .row.presentation
      .span2.hidden-phone

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/rick-giner.jpg", :alt => "Rick Giner", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic A case study in Responsive Development: #{link_to "www.yellowadvertising.com.au", "http://www.yellowadvertising.com.au", :target => "_blank"}
        %h5.presentation__presenter Front End Specialist, Freelance, Visual Jazz
        %p
          This was a great project to work on from start to finish - and what made it really work well was having a good process. Sure, we didn't do everything perfectly and there were a few curve balls but we got through it as a team. If you're struggling to collaborate efficiently, unsure how to decide what code libraries to look into, or want some inspiration on a Responsive design I think we're all proud of - then come and let me tell you some stories! 

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/glen-maddern.jpg", :alt => "Glen Maddern", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic Rolling your own grid system.
        %h5.presentation__presenter Glen Maddern (Developer, Codename)
        %p