%section.promotions
  .container
    .row
      .span12
        %p
          Thanks to our sponsor 
          = link_to "Web Directions South", "http://www.webdirections.org/wds13/", :target => "_blank"
          we are happy to offer 
          %br.hidden-phone
          everyone a 
          %strong $200 discount 
          off tickets with the code: 
        
        = link_to "beresponsive", "http://www.webdirections.org/wds13/", :target => "_blank", :class => "promotions__code"