%section.promotions
  .container
    .row
      .span12
        %p
          We are now one of 
          = link_to "Web Directions'", "http://www.webdirections.org/wds13/", :target => "_blank"
          community partner, and they have set up a code for us as well.
          %br.hidden-phone
          If you want to join their next event, Web Directions Sydney and receive 
          %strong $200 off
          use the coupon code:

        = link_to "beresponsive", "http://www.webdirections.org/wds13/", :target => "_blank", :class => "promotions__code"