%section.sponsors-section
  .container-full
    .section.row.nomargin
      .desktop-full.tablet-full.mobile-full
        %h1.section-title Sponsors.
    .fluidHeight_sponsors
      .sliderContainer
        .iosSlider_sponsors
          .sponsor
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor1.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor2.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor3.png"}

  //.controls-sponsors.next
  //.controls-sponsors.prev