%section.sponsors
  .container
    %h2.section-title Sponsors
    .row
      .span12
        .sponsors-list

          .sponsors-list__logo
            = link_to image_tag("sponsors/envato.png", :alt => "Envato"), "http://envato.com/", :target => "_blank"

          .sponsors-list__logo
            = link_to image_tag("sponsors/traffic.png", :alt => "Traffic"), "http://traffic.com.au/", :target => "_blank"

          -#.sponsors-list__logo
          -#  = link_to image_tag("sponsors/responsive-web-design-weekly.png", :alt => "Responsive Web Design Weekly"), "http://responsivedesignweekly.com/", :target => "_blank"

          .sponsors-list__logo
            = link_to image_tag("sponsors/web-directions.png", :alt => "Web Directions"), "http://www.webdirections.org/wds13/", :target => "_blank"