%section.sponsors
  .container
    %h2.section-title Sponsors
    .row
      .span12
        .sponsors-list

          .sponsors-list__logo
            = link_to image_tag("sponsors/envato.png", :alt => "Envato"), "http://www.envato.com/", :target => "_blank"

          .sponsors-list__logo
            = link_to image_tag("sponsors/visual-jazz.png", :alt => "Visual Jazz"), "http://www.visualjazz.com.au/", :target => "_blank"

          .sponsors-list__logo
            = link_to image_tag("sponsors/rowben-consulting.png", :alt => "Rowben Consulting"), "http://www.rowben.com.au/", :target => "_blank"