
%section#venue.venue-section
  .container-full
    .section.row.nomargin
      .col.ghost-col.four.tablet-six.mobile-full
      .col.ghost-col.four.tablet-six.mobile-full
      .venue-info.col.four.tablet-six.mobile-full.nomargin
        
        .pin_venue

        .details_info
          .address
            %p Traffic Agency
            %p 134 Gwynne Street
            %p Richmond, 3121



  #map{"data-lat" => "-37.830067", "data-long" => "144.993119"}