---
layout: layout_main
---

    <%= partial 'partial/hero' %>

    <%= partial 'partial/event' %>

    <div class="panel panel--speaker">
      <section>
        <h2>Speakers</h2>
        <articles>
          <header>
            <h3>#1 Title</h3>
            <p>#1 Description</p>
          </header>
          <aside>
            <%= partial 'partial/speaker/andrewfisher' %>
          </aside>
        </articles>
        <articles>
          <header>
            <h3>#2 Title</h3>
            <p>#2 Description</p>
          </header>
          <aside>
            <%= partial 'partial/speaker/yuanwang' %>
          </aside>
        </articles>
        <p>
          <a>Call to join our next event</a>
        </p>
      </section>
    </div> <!-- eo .panel--speaker -->

    <div class="panel panel--sponsor">
      <section>
        <h2>Sponsors</h2>
        <p>
          <a>Call to be our sponsor</a>
        </p>
        <ul>
          <li>
            <a href="">
              <figure>
                <img src="" alt="">
                <figcaption></figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="" alt="">
                <figcaption></figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="" alt="">
                <figcaption></figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="" alt="">
                <figcaption></figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="" alt="">
                <figcaption></figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </section>
    </div> <!-- eo .panel--sponsor -->