.navigation-container
  .container-full
    %section.section.row.nomargin
      .col.four.tablet-six.mobile-full
      .nav_wrapper.nomargin.col.eight.tablet-six.mobile-full
        #cart.cart_list.close
          %nav#menu.menu{:role => "navigation"}
            %ul
              %li
                %a.scroll{:href => "#overview"} Overview
              %li
                %a.scroll{:href => "#gallery"} Gallery
              %li
                %a.scroll{:href => "#venue"} Venue
              %li
                %a.scroll{:href => "#tour"} 3D Tour
        #clickme.no-active
/ End Navigation
/ Main Banner
.slider_container
  / Main Banner Slider
  / Slideshow 1
  %ul#slider1.rslides
    %li{:style => "background: url(images/1.jpg) center center no-repeat; \n          -webkit-background-size: cover;\n          -moz-background-size: cover;\n        -o-background-size: cover;\n  background-size: cover;"}
    %li{:style => "background: url(images/2.jpg) center center no-repeat; \n          -webkit-background-size: cover;\n  -moz-background-size: cover;\n  -o-background-size: cover;\n  background-size: cover;"}
    %li{:style => "background: url(images/3.jpg) center center no-repeat; \n          -webkit-background-size: cover;\n  -moz-background-size: cover;\n  -o-background-size: cover;\n  background-size: cover;"}
  / End Main Banner Slider
  / Main Banner Info
  .container-full
    %header.section.row.nomargin
      .banner-info.col.four.tablet-six.mobile-full
        / Logo
        .logo.section
          %a{:href => "/Templates/Exhibition/"}
            .logo_left
              %h1 e
            .logo_right
              %h1 exhibition
              %span.tagline Your Logo Here
        / End Logo
        / Main title
        .main_title
          %span.tag Photography
          %h3 Thomas Leuthrad:
          %h2 Beirut
        / End Main title
        / Event Duration/Dates
        .event_duration
          %p
            From the 20th of September
            %br to the 12th of October
        / End Event Duration/Dates
        / Admission info
        %h5.admission
          %span.arrow-right>
          free admission
        / End Admission info
        / Sub Navigation
        .sub_nav
          %ul.squares
            %li.overview-icon
              %a.scroll{:href => "#overview"}
            %li.gallery-icon
              %a.scroll{:href => "#gallery"}
            %li.venue-icon
              %a.scroll{:href => "#venue"}
            %li.threed-icon
              %a.scroll{:href => "#tour"}
        / End Sub Navigation
  / End Main Banner Info
/ End Main Banner
/ Main Banner Controls
.section.banner-controls
  .container-full
    #cbp-bicontrols.cbp-bicontrols.section.row.nomargin
/ End Main Banner Controls
/ Overview Section
%section#overview.overview
  .container-full
    / Section Title
    .section.row.nomargin
      .desktop-full.tablet-full.mobile-full
        %h1.section-title Overview.
    / End title
    / Content
    .section.row.nomargin
      .col.eight.tablet-full.mobile-full.highlighted
        / Text for Desktop
        %p.underline.showdesktop-inline.notablet.nomobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        %p.underline.showdesktop-inline.notablet.nomobile aliquam vehicula est, sed fermentum nulla interdum vel. Integer
        %p.underline.showdesktop-inline.notablet.nomobile ullamcorper cursus tellus.
        / Text for Tablet &amp; Mobile
        %p.underline.nodesktop.showtablet.showmobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam vehicula est, sed fermentum nulla interdum vel. Integer ullamcorper cursus tellus.
      .col.four.tablet-full.mobile-full
        %p Suspendisse potenti. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus lectus, at feugiat mauris turpis sit amet mi. Nam condimentum.
    .fluid-padding
    .section.row.nomargin
      .col.four.tablet-full.mobile-full
        %p.quote Nunc est nibh, sodales vel convallis eu, consectetur non magna. Nullam a neque elit. In tempor ultricies justo scelerisque mollis. Nullam a neque elit. Nullam a neque elit. In tempor.
      .col.one.tablet-full.mobile-full
      .col.seven.tablet-full.mobile-full
        %p Suspendisse potenti. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus lectus, at feugiat mauris turpis sit amet mi. Nam condimentum, neque condimentum eleifend pharetra, ante est congue ligula. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus lectus, at feugiat mauris turpis sit amet mi. Suspendisse potenti. Sed ultrices, lorem quis volutpat laoreet, odio odio rhoncus.
    / End Content
    .fluid-padding
    

/ Venue Section
%section#venue.venue-section
  .container-full
    / Venue Info
    .section.row.nomargin
      / Ghost Columns
      .col.ghost-col.four.tablet-six.mobile-full
      .col.ghost-col.four.tablet-six.mobile-full
      .venue-info.col.four.tablet-six.mobile-full.nomargin
        / Title
        %h1.section-title.white Venue.
        / Pin
        .pin_venue
        / Details
        .details_info
          .address
            %p Unit A, London Works
            %p Victoria Street
            %p London, N08 8JH
          .distance
            %h6#you_are
            %h3#distance
            %h6 need directions?
          .custom-select
            %select#mode{:onchange => "calcRoute();"}
              %option{:value => "DRIVING"} Driving
              %option{:value => "WALKING"} Walking
              %option{:value => "BICYCLING"} Bicycling
              %option{:value => "TRANSIT"} Transit
        / End Details
    / End Venue Info
  / End Container
  / Map / Your coordinates here
  #map{"data-lat" => "38.796908", "data-long" => "-77.135925"}
  / End Map
/ End Venue Section
/ Sponsors Section
%section.sponsors-section
  .container-full
    / Section Title
    .section.row.nomargin
      .desktop-full.tablet-full.mobile-full
        %h1.section-title Sponsors.
    / End title
    .fluidHeight_sponsors
      .sliderContainer
        .iosSlider_sponsors
          .sponsor
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor1.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor2.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor3.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor4.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor5.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor6.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor7.png"}
            .item
              %a.img_wrapper
                %img{:alt => "image", :src => "images/sponsor8.png"}
          / End sponsor
        / End ioSlider_sponsor
      / End sliderContainer
    / End Fluidwith
  / End Container
  .controls-sponsors.next
  .controls-sponsors.prev
/ End Sponsors Section
/ 3d Gallery Section
%section#tour.threed-section
  .container-full
    %h5 Interested in attending?
    %a.btn{:href => "http://www.meetup.com/Responsive-Web-Melbourne/"} Register Now
/ End 3d Gallery Section
/ Footer
%footer
  .container-full
    .section.row.nomargin
      .col.three.tablet-full.mobile-full
        / Logo
        .logo.section
          %a{:href => "/"}
            .logo_left
              %h1 e
            .logo_right
              %h1 exhibition
              %span.tagline Your Logo Here
        / End Logo
      / Ghost Column
      .col.three.tablet-full.mobile-full
      / End Ghost Column
      .col.six.tablet-full.mobile-full
        %nav.menu{:role => "navigation"}
          %ul
            %li
              %a.scroll{:href => "#overview"} Overview
            %li
              %a.scroll{:href => "#gallery"} Gallery
            %li
              %a.scroll{:href => "#venue"} Venue
            %li
              %a.scroll{:href => "#tour"} 3D Tour
/ End Footer
%script{:src => "http://maps.google.se/maps/api/js?sensor=false"}
:javascript
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  var marker;
  var map;
  // Your Destination Here
  var destinationName = 'London';
  // Custom Markers
     var icons = {
                  start: new google.maps.MarkerImage(
                   // URL
                   'images/a.png',
                   // (width,height)
                   new google.maps.Size(30,30),
                   // The origin point (x,y)
                   new google.maps.Point(0,0),
                   // The anchor point (x,y)
                   new google.maps.Point(20,30)
                  ),
                  end: new google.maps.MarkerImage(
                   // URL
                   'images/b.png',
                   // (width,height)
                   new google.maps.Size( 30, 30 ),
                   // The origin point (x,y)
                   new google.maps.Point( 0, 0 ),
                   // The anchor point (x,y)
                   new google.maps.Point(10,0)
                  )
                 };
  
  function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer();
    var mapOptions = {
        zoom: 14,
        scrollwheel: false,
        draggable: true,
        center: true,
          center: new google.maps.LatLng($("#map").data("lat"), $("#map").data("long")),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
  
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
  
        // Estilos del mapa
         var styles = [
                {
                  "stylers": [
                    { "saturation": -100 },
                  ]
                }
              ];
    
         map.setOptions({styles: styles});
  
      
          var PolylineOptions = {
            strokeColor: '#e31937', // Route Stroke Color 
            strokeOpacity: .8, 
            strokeWeight: 3,
            suppressMarkers: true,
         }
  
         // Create a renderer for directions and bind it to the map.
         var rendererOptions = {
          map: map,
          polylineOptions: PolylineOptions,
          draggable: true,
          suppressMarkers: true,
           }
         directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
  
        marker = new google.maps.Marker({
          map:map,
          animation: google.maps.Animation.DROP,
          position: new google.maps.LatLng($("#map").data("lat"), $("#map").data("long")),
        });
      google.maps.event.addListener(marker, 'click', toggleBounce);
      directionsDisplay.setMap(map);
  
  }
  
  function calcRoute() {
    
      var selectedMode = document.getElementById('mode').value;
      
      if(navigator.geolocation) {
      
      navigator.geolocation.getCurrentPosition(function(position) {
        
        var visitante = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        
        // Retrieve the start and end locations and create
        // a DirectionsRequest using DRIVING directions.
        
        var start = visitante;
        var end = destinationName;
        var request = {
                  origin: start,
                  destination: end,
                  //travelMode: google.maps.DirectionsTravelMode.DRIVING
                  travelMode: google.maps.TravelMode[selectedMode]
        };
        
        directionsService.route(request, function(response, status) {
        
          if (status == google.maps.DirectionsStatus.OK) {        
            directionsDisplay.setDirections(response);       
            var leg = response.routes[ 0 ].legs[ 0 ];
             var distancetext = leg.distance.text;
              var start_point = leg.start_location;
              jQuery('#distance').html(distancetext);
              jQuery('#you_are').html('you are at');
  
               makeMarker( leg.start_location, icons.start, "start" );
               makeMarker( leg.end_location, icons.end, 'end' );
          }
  
           function makeMarker( position, icon, title ) {
                 new google.maps.Marker({
                  position: position,
                  map: map,
                  icon: icon,
                  title: title,
                  optimized: false,
                  animation: google.maps.Animation.DROP,
                 });
                }
  
        });
        
      }, function() {
            handleNoGeolocation(true);
          });
        
      } else { handleNoGeolocation(false); /* Browser doesn't support Geolocation */  }
    }
  
  
  function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }
  
    var options = {
      map: map,
      zoom: 8,
      position: new google.maps.LatLng(51.508742, -0.087891),
      content: content
    };
    var infowindow = new google.maps.InfoWindow(options);
    map.setCenter(options.position);
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);

/[if lt IE 7]
  <script src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'></script>
  <script>
  window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})});
  </script>