---
layout: application
---

    <div class="container homePanel homePanel--event">
      <section>
        <h2>Next event</h2>
        <p>
          <span>Date</span>
          <a>Downloadable calendar</a>
        </p>
        <p>
          <span>Venue</span>
          <div>Map</div>
        </p>
      </section>
    </div>

    <div class="container homePanel homePanel--speaker">
      <section>
        <h2>Speakers</h2>
        <articles>
          <h3>#1 Title</h3>
          <p>#1 Description</p>
          <div class='speakerBio'>
            <img>
            <p>Bio text</p>
          </div>
        </articles>
        <articles>
          <h3>#2 Title</h3>
          <p>#2 Description</p>
          <div class='speakerBio'>
            <img>
            <p>Bio text</p>
          </div>
        </articles>
        <articles>
          <h3>#3 Title</h3>
          <p>#3 Description</p>
          <div class='speakerBio'>
            <img>
            <p>Bio text</p>
          </div>
        </articles>
        <p>
          <a>Call to join our next event</a>
        </p>
      </section>
    </div>

    <div class="container homePanel homePanel--sponsor">
      <section>
        <h2>Sponsors</h2>
        <p>
          <a>Call to be our sponsor</a>
        </p>
        <p>
          <a>
            <img>
          </a>
          <a>
            <img>
          </a>
          <a>
            <img>
          </a>
          <a>
            <img>
          </a>
        </p>
      </section>
    </div>