header.main
  background-image: image-url("common/header_glow.png"), image-url("common/header_tile.png")
  background-position: center -90px, 0 0
  background-repeat: no-repeat, repeat
  +min-height(250px)
  padding-bottom: 30px

  .logo-beresponsive
    margin: 30px auto
    background: image-url("common/logo-be-responsive.png") no-repeat 0 0
    width: 500px
    height: 95px
    +image-replacement
    +background-size(contain)


    +respond-to('phone')
      width: 500px*0.5
      height: 95px*0.5
